doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/c3.css')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')
    script(type='text/javascript', src='/js/local/personal.js')
    if userId !== 0
      title Personal page of ઉ#{userId}
    else
      title facebook.tracking.exposed invalid Personal page

    body(onload=" displayPresence(#{userId}, '#presence', 5000); displayAbsolute(#{userId}, '#absolute', 5000); ")

  .container-fluid
    .jumbotron
      if userId !== 0
        h3 Lets look what metadata means for 
        h3 User 
          a(href="https://www.facebook.com/#{userId}") ઉ#{displayName}
      else
        h2 This 
          b would show 
          | how algoritm manipulation looks like...
        h1.center Unfortunatly, the user (ઉ) requested do no exists in this system.

  nav.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
          span(id="sr-only") Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      div.collapse.navbar-collapse(id="thenavbar")
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/realitymeter') RealityMeter
          li
            a(href='/overseer') Overseer
          li
            a(href='/impact') Impact
          li
            a(href='/slides-long') Slides

  if userId !== 0

    div.simpletext
      p Every time you refresh your facebook feed, Facebook can exert a reordering of your content. The word 
        b reordering 
        |is a pretty way to imply  
        b promotion 
        |and 
        b censorship
        |.
      p Because like an gatekeeper deciding who enter and who don't, Facebook's algorithm decide what you are going to see (promoted in the top of your feed) and what you would not see. Or you just see once, and never more, so you can't even claim censorship, and they can call "optimisation of your experience". 
      p With the following small visualisation, you'll see how much things get distorted by the algorithm.

    div.main-content
       
      .small The user ઉ#{userId} has #{timelines} post seen. Based on the last 5.000 posts, you can see:
      h4 How much is this user on Facebook?
    div(id="presence")

    div.main-content
      h4 When have been posted the posts ઉ#{userId} saw?
    div(id="absolute")

    div.main-content
      h4 Reality distortion

      b This visualisation is a work in progress, not available now

    .footer
