doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/d3.min.js')
    script(type='text/javascript', src='/js/filterbubblesimple.js')
    script(type='text/javascript', src='/js/suggest.js')
    if userId !== 0
      title Personal page of ઉ#{userId}
    else
      title facebook.tracking.exposed invalid Personal page

    body(onload="displayPresence(#{userId}, '#presence'); displayFluctuation(#{userId}, '#fluctuations');")

  .container-fluid
    .jumbotron
      if userId !== 0
        h2 This is how a algoritm manipulation looks like
        h3 User 
          a(href="https://www.facebook.com/#{userId}") ઉ#{displayName}
      else
        h2 This 
          b would show 
          | how algoritm manipulation looks like...
        h1.center Unfortunatly, the user (ઉ) requested do no exists in this system.

  nav.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
          span(id="sr-only") Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      div.collapse.navbar-collapse(id="thenavbar")
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/realitymeter') RealityMeter
          li
            a(href='/overseer') Overseer
          li
            a(href='/impact') Impact
          li
            a(href='/slides-long') Slides

  if userId !== 0

    .centered
    p The user ઉ#{userId} has #{timelines}
     
    p Usage metric, considering slot of 10 minutes, how often are you on FB?
    .centered(id="presence")

    p This is your exposure to the algorithm of facebook, which namely can ignore the chronological order. In the Y you see the position difference gained or lost. This is just to make you see how many shift of the reality happens every time you refresh the page.
      div(id="fluctuations")

    .container-fluid
      p If you feel you've guess why facebook is penalizing/promoting something to you, feel free to share your 
        a.sug(href="#" id="interpretation" onclick="suggestion('interpretation')") [Interpretation]
        |  with us.

