doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/js/local/realitymeter.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/local/realitymeter.js')
    title ઉ RealityMeter

  body(onload="displayRealityGraph(#{postId}, '#realitygraph');")
    
    .container-fluid
      .jumbotron
        h2 ઉ RealityMeter
        h4 ... 'cos every Facebook User needs a bite of reality!

  nav.navbar.navbar-default
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#thenavbar" aria-expanded="false")
          span(id="sr-only") Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      div.collapse.navbar-collapse(id="thenavbar")
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/impact') Impact
          li
            a(href='/realitycheck/activities/random') Random User

    .container-fluid
      div(id="realitygraph")

      .larger-content
        span.col-md-1
        span.container-fluid.col-md-4.niceborder
          p When you publish a post in a page, Facebook tell you how many impressions the post got. 
            b But what does it really means? 
            | In the timelines, does the post appears many times in a favorable position, or once to disappear at the next feed refresh? 
            b Positioning 
            | is the metric to judge if a post might got an impact in the users eyeballs or not… and 
            b now you can know it! 
        span.col-md-1
        span.container-fluid.col-md-4.niceborder
          i
            But Facebook is so much more than a media company. [...] Facebook plays both sides: it offers real estate (video advertising) and provides the assessments (viewership data). Not surprisingly, 
            a(href="http://arstechnica.com/business/2016/09/facebook-apologizes-for-feeding-inflated-video-view-numbers-to-advertisers/") Facebook makes mistakes.
            | There is no auditing, no independence; we simply take Facebook’s word for it, when and how much the errors occur. Like Poseidon, FB blows, the currents move, and content producers and advertisers are swept in new directions.
          div.smaller
            p.right From 
              a(href="https://www.theguardian.com/technology/2016/sep/28/google-facebook-powerful-secretive-empire-transparency") The Guardian: Facebook and Google: most powerful and secretive empires we've ever known
              |  28 Sept '16
        span.col-md-1

    .container-fluid

      .larger-content
        .center

          if postId !== 0
            input(type=text class="center theinputfield" value="#{postId}" id="postinput")
          else
            input(type=text placeholder="Write here the postId" class="center theinputfield" id="postinput")
          endif

          button(class="buttonfield btn-success" type="submit" onclick="return displayRealityGraph(getPostId('postinput'), '#realitygraph');") ઉ
        .container-fluid
          span.col-md-4
          span.col-md-4
            .smaller psssst, this is the postId:
              .monospace https://www.facebook.com/
                span.red 312312323121
                |?blah
              .monospace https://www.facebook.com/photo.php?
                span.red 34324234234
                |.322…

      .larger-content
        p Since the launch, #{users} users contributed with #{posts} visualized posts. If you are a social media manager and you want to know the true outreach of your material, spread facebook.tracking.exposed among your friend, followers, audience, and see how your posts get seen in their timelines.

      .examplelist
        p.center Below some posts selected for ther interactions, click on them and see how the visualization looks like.
        each apost in examples
          .col-md-2 #{apost.count} users in
            a.exampleentry(alt="#{apost.when} ago" href="/realitymeter/#{apost.postId}") #{apost.lifespan}


  .footer
